
.admin-main {

  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }

  .site-layout-background {
    background: #fff !important;
  }

  .my-name {
    left: 15px;
  }
}