.admin-auth {
  background: #141b29;

  .content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-form {
    padding: 50px;
    border-radius: 24px;
    background: #ffffff;
    label{
      font-weight: 600;
    }
  }

}